.about-container {
    padding: 100px 0;
    margin: 0 auto;
    max-width: 720px !important;
    display: flex;

    align-items: center;
    gap: 2rem;
    .section-image {
        flex: 1;
        border-radius: 22px;
        overflow: hidden;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .section-text {
        flex: 1;
        .title {
            font-size: 18px;
            color: var(--clr-red);
        }
        .des {
            line-height: 1.2;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        .detail {
            color: var(--clr-body);
            font-size: 14px;
            line-height: 1.5;
            text-align: justify;
        }
    }
}

@media screen and (max-width: 750px) {
    .container {
        margin: 0 auto;

        .about-container {
            flex-direction: column-reverse;
            margin: 0 auto;

            justify-content: center;
            .section-text {
                .des {
                    line-height: 1.1;
                    margin-top: 1rem;
                }
                .detail {
                    line-height: 1.5;
                    text-align: justify;
                    font-size: 14px;
                }
            }
        }
    }
}
